@model IEnumerable<Employee>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "GraphQL";
}

<h3>Get list employee infomation from GraphQL</h3>
<hr />
<table class="table table-bordered">
    <thead>
        <tr role="row">
            <th colspan="2">Employee</th>
            <th colspan="3">Information</th>
        </tr>
        <tr role="row">
            <th>ID</th>
            <th>Employee Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="5" class="text-center">No Data</td></tr>
        }
        else
        {
            @foreach (var (index, item) in Model.Select((value, index) => (index, value)))
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@item?.Name</td>
                    <td>@item?.Email</td>
                    <td>@item?.Age</td>
                    <td>@item?.Department?.Name</td>
                </tr>
            }
        }
    </tbody>
</table>