@model DemoGraphQL2Gui.Models.Department;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "GraphQL";
}

@{
    <h3>Delete Department</h3>
    <form method="post" asp-action="DeleteDepartment" asp-controller="Department">
        <div>department name</div>
        <input asp-for="DepartmentId" id="DepartmentId" name="DepartmentId" type="text" readonly />
        <button type="submit">Delete</button>
    </form>
}